@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark : #5651e5 ;
  --primary-light : #709dff ;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Courier New', Courier, monospace;
  }

  li {
    padding: 1rem;
    font-size: 0.875rem;
  }

  button {
    padding-left: 1rem; 
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid;
    background-image: linear-gradient(to right , var(--primary-dark) , var(--primary-light));
  }

  h2 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}
